---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import {
	Accordion,
	AccordionItem,
	Breadcrumbs,
	BreadcrumbsItem,
	Card,
	Media,
	Modal,
	Notification,
	Pagination,
} from 'accessible-astro-components'
---

<DefaultLayout title="Home">
	<Hero />
	<section class="my-64">
		<div class="container">
			<h2 class="mb-16 text-6xl">Education</h2>
			<div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
				<div class="card">
					<div class="card__image">
					  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBpuvBeDgSIq4UCBZmmuVwFxo78Zrfh1LxQL95bE6sKJyG9DVr6JkPDa5xITn5kSWkxd4&usqp=CAU" alt="Logo Grenoble INP ENSIMAG">
					</div>
					<div class="card__content">
						<h3>Grenoble INP - ENSIMAG</h3>
						<p>Master 2 Réseaux Informatiques d’Entreprise (RIE)</p>
						<small>2022 - 2024</small>
					</div>
				</div>
				<div class="card">
					<div class="card__image">
					  <img src="https://assets-global.website-files.com/64267cd26af7159117f5bbbe/64cba6960dc9e3e659e24828_AnyConv.com__Visuel%20Article%20(1920%C2%A0%C3%97%C2%A01080%C2%A0px)%20(27).webp" alt="Logo EPSI">
					</div>
					<div class="card__content">
						<h3>EPSI Grenoble</h3>
						<p>Master 1 d'ingénierie Expert en Informatique et Système d’Information</p>
						<small>2021 - 2022</small>
					</div>
				</div>
				<div class="card">
					<div class="card__image">
					  <img src="https://assets-global.website-files.com/64267cd26af7159117f5bbbe/64cba6960dc9e3e659e24828_AnyConv.com__Visuel%20Article%20(1920%C2%A0%C3%97%C2%A01080%C2%A0px)%20(27).webp" alt="Logo EPSI">
					</div>
					<div class="card__content">
						<h3>EPSI Grenoble</h3>
						<p>Bachelor SYSOPS/Administrateur Système Réseaux et Bases de Données</p>
						<small>2018 - 2021</small>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="my-64">
		<div class="container">
			<h2 class="mb-16 text-6xl">Experiences</h2>
			<ContentMedia imgSrc="/logoGINP.jpg" reverseImg={true}>
				<h2>Grenoble INP - UGA | Decembre 2023 - Present</h2>
				<Accordion>
					<p>L'Institut polytechnique de Grenoble est un grand établissement d’enseignement supérieur et de recherche comprenant 7 écoles d'ingénieurs et une de management.</p>
				</Accordion>
				<p class="text-2xl">
						<li>Élu au Conseil des Études et de la Vie Universitaire (CEVU) </li>
						<li>Élu au poste de Vice Président Étudiant Adjoint</li></p>
			</ContentMedia>
			<ContentMedia imgSrc="/logoSGAC.jpg">
				<div class="space-content">
					<h2>Space Generation Advisory Council (SGAC) | Septembre 2022 - Present</h2>
					<Accordion>
						<p>La SGAC est une organisation et un réseau mondial non gouvernemental à but non lucratif (US 501(c)3) qui vise à représenter les étudiants universitaires et les jeunes professionnels de l'espace auprès des Nations Unies, des agences spatiales, de l'industrie et du milieu universitaire.</p>
						<br>
						<AccordionItem header="Mes missions au seins de l'SGAC">
							<p class="text-2xl">
								<ul>
									<li>• Réflexion autour de la cybersécurité dans le domaine du spatial à l'international</li>
									<li>• Co-organisation d'un hackathon</li>
									<li>• Co-écriture d'un article pour le 74ème Congrès Astronautique International (IAC 2023) "Assessing cybersecurity mesures in space and cyber Laws" avec Mme Clémence Poirier, European Space Policy Institute (ESPI)</li>
								</ul>
							</p>
						<a href="https://spacegeneration.org/">SGAC Website</a>
						</AccordionItem>
					</Accordion>
				</div>
			</ContentMedia>
			<ContentMedia imgSrc="/logoST.jpg" reverseImg={true}>
				<div class="space-content">
					<h2>STMicroelectronics Crolles | Octobre 2020 - Present</h2>
					<Accordion>
						<p>STMicroelectronics est une multinational de semi-conducteurs qui conçoit et fabrique une large gamme de solutions électroniques et de semi-conducteurs pour diverses industries telles que l'automobile, l'électronique personnelle, l'industrie spatiale et les communications.</p>
						<br>
						<AccordionItem header="Mes missions au seins de ST Crolles">
							<p class="text-2xl">
								<ul>
									<li>• Traitements des incidents / déploiement / configuration firewall</li>
									<li>• Réalisation d’une maquette Cisco SDA pour le site de Crolles</li>
									<li>• Déployer le nouveau standards Cisco SDA sur le site de Crolles</li>
									<li>• Corrections des incidents détectés sur les réseaux LAN de STM Crolles. </li>
									<li>• Remplacement d’équipements Cisco dans le cadre de la gestion de l’obsolescence. </li>
									<li>• Amélioration de la détection des alarmes dans l’outil Zabbix en améliorant la gestion des Trap SNMP envoyés par les équipements Cisco.</li>
									<li>• Mise en place de la surveillance des équipements réseaux avec Zabbix Graphana</li>
									<li>• Intégration des outils Cisco Prime pour les nouvelles gammes de switch Cisco</li>
									<li>• Participation à la migration du réseau Facilities vers des équipements Cisco avec un objectif de sécurisation et de fiabilisation en lien avec les équipes Facilities</li>
									<li>• Ajout de switchs manageables dans une zone de laboratoires pour rempalcer des équipements non surveillés et mettre en place un verrouillage NAC en lien avec les équipes du laboratoires.</li>
									<li>• Génération de configurations pour le déploiement d'une flotte de switchs</li>
									<li>• Cisco et Palo Alto firewall configuration</li>
								</ul>
							</p>
						<a href="https://st.com">ST Website</a>
						</AccordionItem>
					</Accordion>
				</div>
			</ContentMedia>
			<ContentMedia imgSrc="/logoLeonix.jpg">
				<h2>Leonix Telecom | Mai - Juin 2019 </h2>
				<p class="text-2xl">Stage de 6 semaines au sein du service ingénierie en collaboration avec les équipes réseaux de l'opérateur Leonix Telecom.
				</p>
			</ContentMedia>
			<ContentMedia imgSrc="/logoTwitter.jpg" reverseImg={true}>
				<h2>Twitter | Janvier 2016 - Novembre 2017</h2>
				<p class="text-2xl">Traducteur sur la plateforme de traduction de Twitter (EN > FR) qui a fermé en novembre 2017.
				</p>
			</ContentMedia>
		</div>
	</section>
	<section class="my-64">
		<div class="container">
			<h2 class="mb-16 text-6xl">Stats</h2>
			<div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
					<Counter count="1%" title="top rank" sub="on TryHackMe"/>
					<Counter count="149" title="rooms completed" sub="on TryHackMe"/>
					<Counter count="22" title="repositories in MIT Licence" sub="on Github"/>
			</div>
		</div>
	</section>
</DefaultLayout>
