---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
	<Hero />
	<section class="my-64">
		<div class="container">
			<h2 class="mb-16 text-6xl">Education</h2>
			<div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
				<Feature icon="mdi:console-network-outline" title="Grenoble INP - ENSIMAG">
					<a href="https://ensimag.grenoble-inp.fr/" target="_blank">Master 2 Réseaux Informatiques d’Entreprise (RIE)</a>
				</Feature>
				<Feature icon="mdi:router-wireless-settings" title="EPSI Grenoble">
					<a href="https://epsi.fr/" target="_blank">Master 1 d'ingénierie Expert en Informatique et Système d’Information</a>
				</Feature>
				<Feature icon="fluent:window-dev-tools-16-filled" title="EPSI Grenoble">
					<a href="https://epsi.fr/" target="_blank">Bachelor SYSOPS/Administrateur Système Réseaux et Bases de Données</a> 
				</Feature>
			</div>
		</div>
	</section>
	<section class="my-64">
		<div class="container">
			<h2 class="mb-16 text-6xl">Experience</h2>
			<ContentMedia imgSrc="/logoSGAC.jpg">
				<h2><a href="https://spacegeneration.org" target="_blank">Space Generation Advisory CouncilSpace Generation Advisory Council (SGAC)</a>| September 2022 - Today</h2>
				<h3>Space and Cyber Security Project Group</h3>
				<p class="text-2xl"> The SGAC is a global non-governmental, non-profit (US 501(c)3) organisation and network which aims to represent university students and young space professionals to the United Nations, space agencies, industry, and academia.
					<ul>
						<li>• Reflection around cybersecurity in the international space sector</li>
						<li>• co-organization hackathon</li>
						<li>• co-writing of an article for the 74th International Astronautical Congress (IAC 2023) "Assessing cybersecurity measures in space and cyber laws" with Ms. Clémence Poirier, European Space Policy Institute (ESPI)</li>
					</ul>
				</p>
			</ContentMedia>
			<ContentMedia imgSrc="/logoST.jpg" reverseImg={true}>
				<h2><a href="https://st.com" target="_blank">STMicroelectronics Crolles</a>| October 2020 - Today</h2>
				<p class="text-2xl">STMicroelectronics is a global semiconductor company that designs and manufactures a wide range of electronics and semiconductor solutions for various industries such as automotive, industrial, personal electronics, space industrie, and communications.
					<ul>
						<li>• Correction of incidents detected on LAN networks of STM Crolles</li>
						<li>• Reduced WiFi incidents</li>
						<li>• Replacement of Cisco equipment as part of obsolescence management</li>
						<li>• Improved alarm detection in Zabbix tool by improving the management of SNMP Traps sent by Cisco equipment</li>
						<li>• Implementation of network equipment monitoring with Zabbix Graphana</li>
						<li>• Monitoring of pentest carried out on the infrastructure and participation in the remediation of the attack</li>
						<li>• Integration of Cisco Prime tools for the new Cisco switch ranges</li>
						<li>• Participation in the migration of the Facilities network to Cisco equipment with a security and reliability objective in conjunction with the Facilities teams</li>
						<li>• Addition of manageable switches in a laboratory area to replace unmonitored equipment and set up NAC locking in conjunction with the laboratory teams.</li>
						<li>• Configuration of new switches for the ST Crolles network</li>
						<li>• Generation of configurations for the deployment of a fleet of switches</li>
						<li>• Support of existing network equipment (around 300 active equipment)</li>
						<li>• Cisco and Palo Alto firewall configuration</li>
						<li>• Addition of modules to our network connection management tool (cabling)</li>
						<li>• Configuration and development use on the Cisco Prime solution</li>
						<li>• Documentation of the missions carried out to guarantee their future use and maintenance</li>
					</ul>
				</p>
			</ContentMedia>
			<ContentMedia imgSrc="/logoLeonix.jpg">
				<h2><a href="https://www.leonix.fr/" target="_blank">Leonix Telecom</a>| May - June 2019 </h2>
				<p class="text-2xl"> 6-week internship in the engineering department in collaboration with the network teams of the operator Leonix Telecom.
				</p>
			</ContentMedia>
			<ContentMedia imgSrc="/logoTwitter.jpg" reverseImg={true}>
				<h2><a href="https://twitter.com" target="_blank">Twitter</a>| January 2016 - November 2017</h2>
				<p class="text-2xl">Translator on the Twitter translation platform (EN - FR) which closed in November 2017
				</p>
			</ContentMedia>
		</div>
	</section>
	<section class="mt-64 mb-32">
		<div class="container">
			<h2 class="mb-16 text-6xl">Counters</h2>
			<div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
				<Counter count="1%" title="top rank" sub="on TryHackMe"/>
				<Counter count="143" title="rooms completed" sub="on TryHackMe"/>
				<Counter count="22" title="repositories in MIT Licence" sub="on Github"/>
			</div>
		</div>
	</section>
</DefaultLayout>
